.type1{
    background-image: url(../../Assets/img/casual/background.jpg);
    background-size: cover;
}

.product1{
    background-image: url(../../Assets/img/casual/sample1.jpg);
    background-size: cover;
}
.product2{
    background-image: url(../../Assets/img/casual/sample2.jpg);
    background-size: cover;
}
.product3{
    background-image: url(../../Assets/img/casual/sample3.jpg);
    background-size: cover;
}
.product4{
    background-image: url(../../Assets/img/casual/sample4.jpg);
    background-size: cover;
}
.product5{
    background-image: url(../../Assets/img/casual/sample5.jpg);
    background-size: cover;
}
.product6{
    background-image: url(../../Assets/img/casual/sample6.jpg);
    background-size: cover;
}
.product7{
    background-image: url(../../Assets/img/casual/sample7.jpg);
    background-size: cover;
}
.other_wall1{
    background-image: url(../../Assets/img/casual/others.jpg);
    background-size: cover;
}

.type2{
    background-image: url(../../Assets/img/formal/background.jpg);
    background-size: cover;
}

.product8{
    background-image: url(../../Assets/img/formal/sample1.jpg);
    background-size: cover;
}
.product9{
    background-image: url(../../Assets/img/formal/sample2.jpg);
    background-size: cover;
}
.product10{
    background-image: url(../../Assets/img/formal/sample3.jpg);
    background-size: cover;
}
.product11{
    background-image: url(../../Assets/img/formal/sample4.jpg);
    background-size: cover;
}
.product12{
    background-image: url(../../Assets/img/formal/sample5.jpg);
    background-size: cover;
}
.product13{
    background-image: url(../../Assets/img/formal/sample6.jpg);
    background-size: cover;
}
.product14{
    background-image: url(../../Assets/img/formal/sample7.jpg);
    background-size: cover;
}
.other_wall2{
    background-image: url(../../Assets/img/casual/others.jpg);
    background-size: cover;
}

.type3{
    background-image: url(../../Assets/img/beach/background.jpg);
    background-size: cover;
}

.product15{
    background-image: url(../../Assets/img/beach/sample1.jpg);
    background-size: cover;
}
.product16{
    background-image: url(../../Assets/img/beach/sample2.jpg);
    background-size: cover;
}
.product17{
    background-image: url(../../Assets/img/beach/sample3.jpg);
    background-size: cover;
}
.product18{
    background-image: url(../../Assets/img/beach/sample4.jpg);
    background-size: cover;
}
.product19{
    background-image: url(../../Assets/img/beach/sample5.jpg);
    background-size: cover;
}
.product20{
    background-image: url(../../Assets/img/beach/sample6.jpg);
    background-size: cover;
}
.product21{
    background-image: url(../../Assets/img/beach/sample7.jpg);
    background-size: cover;
}
.other_wall3{
    background-image: url(../../Assets/img/casual/others.jpg);
    background-size: cover;
}

.type4{
    background-image: url(../../Assets/img/sports/background.jpg);
    background-size: cover;
}

.product22{
    background-image: url(../../Assets/img/sports/sample1.jpg);
    background-size: cover;
}
.product23{
    background-image: url(../../Assets/img/sports/sample2.jpg);
    background-size: cover;
}
.product24{
    background-image: url(../../Assets/img/sports/sample3.jpg);
    background-size: cover;
}
.product25{
    background-image: url(../../Assets/img/sports/sample4.jpg);
    background-size: cover;
}
.product26{
    background-image: url(../../Assets/img/sports/sample5.jpg);
    background-size: cover;
}
.product27{
    background-image: url(../../Assets/img/sports/sample6.jpg);
    background-size: cover;
}
.product28{
    background-image: url(../../Assets/img/sports/sample7.jpg);
    background-size: cover;
}
.other_wall4{
    background-image: url(../../Assets/img/casual/others.jpg);
    background-size: cover;
}
