

body{
    background-color: #E0E5EC;
	
}

.navigation {
    border-radius: 5px;
    
    background: lightcyan;

    box-shadow: 0px 5px 10px rgb(206, 206, 206);
}

.nav_items{
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
}

.description{
    border-radius: 5px;
    
    background: lightcyan;

    box-shadow: 0px 5px 10px rgb(206, 206, 206);
}

.container{
    border-radius: 5px;

    background-color: lightcyan;
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
}



.roomView{
    
    background: coral;
    border-radius: 15px;
    
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
    
    transition: 1s box-shadow;
    
}

.wallView{

    background-color: #E0F2F1;
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
    border-radius: 15px;
	
	transition: 1s box-shadow;
	
}

.nav_items{
    background-color: #ffebee;
    
    
}


.walls{
    background-color: coral;  
    
    border-radius: 15px;
    
}

.walls a{
    border-radius: 15px;
}