body{

    height: 100%;
    width: 100%;
     
    position: relative; /* is for the bottom margin to work */

    overflow: hidden;
   
}
#content{
    height: 800px;
    width: 1080px;

    margin: auto;
    margin-top: 10vh; /* this is the top margin that keeps everything centered, re acting to body positioning: relative */
    margin-bottom: 10vh; /* i think top margin is what keeping it centered, there is not much effect of this one */

    display: flex;
    flex-direction: column;

}
.navigation {
    height: 100px;
    max-width: 100%;

    position: relative;
    display: inline-block;

    margin-bottom: 20px;
}

.navigators{
    list-style: none;

    display: flex;
    flex-direction: row;
}
.nav_items{

    padding: 10px;
    margin-right: 20px;

    border-radius: 10px;
    border-style: solid;
    border-color: coral;
}
.description{
    height: 100px;
    width: 100%;
    
    margin-top: 20px;
}


.container{

    height: 100%;
    width: 100%;
    
    overflow-y: scroll; /* smooth scroll at navigation pane click */

    display: flex;
    flex-direction: column;

    padding-top: 15px;
    padding-bottom: 15px;
    
}



.containerContent{

    height: 100%; /* reference: roomView */
    width: 95%;

    margin: auto;
    

    display: flex;
    flex-direction: row;
    
    
}

.roomView{
    margin: 15px;
    padding: 15px;

    width: 300px;
    height: 235px;
    
    position: relative; /* to make the div clickable */
    
}

.roomView a{
    position: absolute;    /* coresponds to roomView position:relative */
    display: inline-block; /* makes the entire div clickable */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.wallView{

    

    margin: 15px;
    margin-left: 25px;
    padding: 20px;
    
    width: 75%;
    
    
    display: flex;
    flex-direction: row; /* for walls, does not effect actual wallView */

    overflow-x: scroll;
	
}
.walls{
    
    
    height: 95%;

    position: relative;  /* to make the div clickable */
    display: inline-block;

    min-width: 200px;

    margin-top: 10px;
    margin-right: 10px;
}

.walls a{
    position: absolute; /* coresponds to walls position:relative */ /* makes the entire div clickable */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}