.roomView:hover{
    cursor: pointer;
    transition: 0.5s box-shadow;
    box-shadow: 0px 5px 20px coral;
}

.wallView:hover{
    transition: 0.5s box-shadow;
    box-shadow: 0px 5px 20px teal;
}


.nav_items:hover{
    cursor: pointer;
    transition: 0.5s box-shadow;
    box-shadow: 0px 5px 10px coral;;
}

.walls:hover{
    cursor: pointer;
    transition: 0.5s box-shadow;
    box-shadow: 0px 5px 10px coral;;

}